@import url('https://fonts.googleapis.com/css2?family=DM+Sans');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
	@apply box-border;
	@apply border-none;
}

html,
body {
	@apply h-full overflow-hidden;
}

body {
	font-family: 'DM Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
